In [1]:
#importing required libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
#Loading training and test dataset
train_df=pd.read_csv('/home/sumith/Desktop/dog_train.csv')
test_df=pd.read_csv('/home/sumith/Desktop/dog_test.csv')

In [3]:
#Checking first rows of train dataset
train_df.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [4]:
#Checking first rows of test dataset
test_df.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [5]:
#Checking datatypes of dataset
train_df.dtypes

pet_id             object
issue_date         object
listing_date       object
condition         float64
color_type         object
length(m)         float64
height(cm)        float64
X1                  int64
X2                  int64
breed_category    float64
pet_category        int64
dtype: object

In [6]:
#Checking Correlation between different Variables
train_df.corr()

,condition,length(m),height(cm),X1,X2,breed_category,pet_category
condition,1.000000,-0.011219,-0.010793,0.338843,0.381696,-0.483503,-0.041660
length(m),-0.011219,1.000000,-0.004464,-0.002893,-0.011175,0.007229,-0.003999
height(cm),-0.010793,-0.004464,1.000000,-0.003801,-0.008216,0.011647,0.001976
X1,0.338843,-0.002893,-0.003801,1.000000,0.584396,0.240729,-0.032594
X2,0.381696,-0.011175,-0.008216,0.584396,1.000000,0.052530,-0.032116
breed_category,-0.483503,0.007229,0.011647,0.240729,0.052530,1.000000,0.209230
pet_category,-0.041660,-0.003999,0.001976,-0.032594,-0.032116,0.209230,1.000000

In [8]:
#Mean Encoding 'color_type' categorical variable for train data.
mean=train_df.groupby(['color_type'])['X1'].mean() 
Mean_encoded_subject =train_df.groupby(['color_type'])['X1'].mean().to_dict() 
train_df['color_type'] =train_df['color_type'].map(Mean_encoded_subject)

In [9]:
#Mean Encoding 'color_type' categorical variable for test data.
mean=test_df.groupby(['color_type'])['X1'].mean() 
Mean_encoded_subject =test_df.groupby(['color_type'])['X1'].mean().to_dict() 
test_df['color_type'] =test_df['color_type'].map(Mean_encoded_subject)

In [11]:
#Checking for null values in train dataset
train_df.isnull()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
18829,False,False,False,False,False,False,False,False,False,False,False
18830,False,False,False,True,False,False,False,False,False,False,False
18831,False,False,False,False,False,False,False,False,False,False,False
18832,False,False,False,False,False,False,False,False,False,False,False
18833,False,False,False,False,False,False,False,False,False,False,False

In [12]:
#Checking for null values in test dataset
test_df.isnull()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
8067,False,False,False,False,False,False,False,False,False
8068,False,False,False,False,False,False,False,False,False
8069,False,False,False,False,False,False,False,False,False
8070,False,False,False,True,False,False,False,False,False
8071,False,False,False,False,False,False,False,False,False

In [14]:
#Filling empty values in test and training dataset
train_df['condition'].fillna(value=1,inplace=True)
test_df['condition'].fillna(value=1,inplace=True)

In [15]:
#Min-Max normalising the training dataset(Using only highly correlated variables).
train_df['X1']=(train_df['X1']-train_df['X1'].min())/(train_df['X1'].max()-train_df['X1'].min())
train_df['X2']=(train_df['X2']-train_df['X2'].min())/(train_df['X2'].max()-train_df['X2'].min())
train_df['condition']=(train_df['condition']-train_df['condition'].min())/(train_df['condition'].max()-train_df['condition'].min())
train_df['color_type']=(train_df['color_type']-train_df['color_type'].min())/(train_df['color_type'].max()-train_df['color_type'].min())

In [16]:
#Min-Max normalising the test dataset(Using only highly correlated variables).
test_df['X1']=(test_df['X1']-test_df['X1'].min())/(test_df['X1'].max()-test_df['X1'].min())
test_df['X2']=(test_df['X2']-test_df['X2'].min())/(test_df['X2'].max()-test_df['X2'].min())
test_df['condition']=(test_df['condition']-test_df['condition'].min())/(test_df['condition'].max()-test_df['condition'].min())
test_df['color_type']=(test_df['color_type']-test_df['color_type'].min())/(test_df['color_type'].max()-test_df['color_type'].min())

In [17]:
#Splitting into dependent and independent variables
X_train = train_df[['condition', 'X1','X2','color_type']]
y_train1 = train_df['breed_category']
y_train2=train_df['pet_category']
X_test = test_df[[ 'condition', 'X1','X2','color_type']]

In [18]:
#Initialising Decision Tree Classifier
dtree1 = DecisionTreeClassifier()
dtree2 = DecisionTreeClassifier()

In [19]:
#Fit into training dataset
dtree1.fit(X_train,y_train1)
dtree2.fit(X_train,y_train2)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
#Predicting the test dataset
pred1=dtree1.predict(X_test)
pred2=dtree2.predict(X_test)

In [21]:
#Creating submission dataframe for submitting csv file
sub=pd.DataFrame()
sub['pet_id']=test_df['pet_id']

In [22]:
#Filling target variables and generating csv file
sub['breed_category']=pred1
sub['pet_category']=pred2
sub.to_csv('/home/sumith/Desktop/dog_pred.csv',index=False)

In [23]:
#Using Random Forest Classifier for first target variable
clf1=RandomForestClassifier()
clf1.fit(X_train,y_train1)
pred1= clf1.predict(X_test)

In [24]:
#Using Random Forest Classifier for second target variable
clf2=RandomForestClassifier()
clf2.fit(X_train,y_train2)
pred2= clf2.predict(X_test)

In [25]:
#Filling target variables and generating csv file
sub['breed_category']=pred1
sub['pet_category']=pred2
sub.to_csv('/home/sumith/Desktop/dog_pred.csv',index=False)